/* Formatting images */
img {
    height: 400px;
    display: inline-block;
    margin-left: 5%;
    margin-right: 2%;
    border-radius: 20px;
    border-style: double;
    border-color: rgb(173, 51, 204);
}

/* Formatting validator images */
.validators {
    width: 65px;
    display: block;
    height: auto;
    margin-left: 0%;
    margin-right: 0%;
    border-radius: 0px;
    border-style: none;
    border-color: currentColor;
}